<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayz.sapientiacloud_edupivot.teacher.mapper.TeacherMapper">

    <resultMap id="Teacher" type="com.dayz.sapientiacloud_edupivot.teacher.entity.po.Teacher">
        <id column="id" property="id"/>
    </resultMap>

    <select id="listTeacher" resultType="com.dayz.sapientiacloud_edupivot.teacher.entity.vo.TeacherVO">
        select
        id, teacher_code, real_name, birth_date, department, education,
        specialization, status, description, sys_user_id, create_time, update_time
        from
        teacher
        <where>
            <if test="teacherCode != null and teacherCode != ''">
                and teacher_code like concat('%', #{teacherCode}, '%')
            </if>
            <if test="realName != null and realName != ''">
                and real_name like concat('%', #{realName}, '%')
            </if>
            <if test="department != null and department != ''">
                and department like concat('%', #{department}, '%')
            </if>
            <if test="education != null">
                and education = #{education}
            </if>
            <if test="specialization != null and specialization != ''">
                and specialization like concat('%', #{specialization}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="startTime != null or endTime != null">
                <choose>
                    <when test="startTime != null and endTime == null">
                        AND create_time &gt;= #{startTime}
                    </when>
                    <when test="startTime == null and endTime != null">
                        AND create_time &lt;= #{endTime}
                    </when>
                    <otherwise>
                        AND create_time BETWEEN #{startTime} AND #{endTime}
                    </otherwise>
                </choose>
            </if>
            and is_deleted = 0
        </where>
        <if test="orderByColumn != null and orderByColumn != ''">
            order by ${orderByColumn} ${isAsc == 'asc' ? 'asc' : 'desc'}
        </if>
        <if test="orderByColumn == null or orderByColumn == ''">
            order by create_time desc
        </if>
    </select>

    <select id="selectByTeacherCode" resultType="com.dayz.sapientiacloud_edupivot.teacher.entity.po.Teacher">
        select *
        from teacher
        where teacher_code = #{teacherCode}
          and is_deleted = 0
    </select>

    <select id="selectBySysUserId" resultType="com.dayz.sapientiacloud_edupivot.teacher.entity.po.Teacher">
        select *
        from teacher
        where sys_user_id = #{sysUserId}
          and is_deleted = 0
    </select>

</mapper>