<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayz.sapientiacloud_edupivot.system.mapper.SysPermissionMapper">

    <resultMap id="SysPermission" type="com.dayz.sapientiacloud_edupivot.system.entity.po.SysPermission">
        <id column="id" property="id"/>
    </resultMap>

    <select id="listSysPermission" resultType="com.dayz.sapientiacloud_edupivot.system.entity.vo.SysPermissionVO">
        select
        id, parent_id, permission_name, permission_key, sort, create_time, update_time
        from
        sys_permission
        <where>
            <if test="permissionName != null and permissionName != ''">
                and permission_name like concat('%', #{permissionName}, '%')
            </if>
            <if test="permissionKey != null and permissionKey != ''">
                and permission_key like concat('%', #{permissionKey}, '%')
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="startTime != null or endTime != null">
                <choose>
                    <when test="startTime != null and endTime == null">
                        AND create_time &gt;= #{startTime}
                    </when>
                    <when test="startTime == null and endTime != null">
                        AND create_time &lt;= #{endTime}
                    </when>
                    <otherwise>
                        AND create_time BETWEEN #{startTime} AND #{endTime}
                    </otherwise>
                </choose>
            </if>
            and is_deleted = 0
        </where>
        <if test="orderByColumn != null and orderByColumn != ''">
            order by ${orderByColumn} ${isAsc == 'asc' ? 'asc' : 'desc'}
        </if>
        <if test="orderByColumn == null or orderByColumn == ''">
            order by create_time desc
        </if>
    </select>

    <update id="removeChildrenById" parameterType="java.util.UUID">
        WITH RECURSIVE permission_children AS (SELECT id, parent_id, permission_name, permission_key
                                               FROM sys_permission
                                               WHERE parent_id = #{id}
                                                 AND is_deleted = 0

                                               UNION ALL

                                               SELECT p.id, p.parent_id, p.permission_name, p.permission_key
                                               FROM sys_permission p
                                                        INNER JOIN permission_children pc ON p.parent_id = pc.id
                                               WHERE p.is_deleted = 0)
        UPDATE sys_permission
        SET is_deleted  = 1,
            update_time = CURRENT_TIMESTAMP
        WHERE id IN (SELECT id FROM permission_children)
    </update>

    <update id="removeChildrenByIds" parameterType="java.util.List">
        WITH RECURSIVE permission_children AS (
        SELECT id, parent_id, permission_name, permission_key
        FROM sys_permission
        WHERE parent_id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND is_deleted = 0

        UNION ALL

        SELECT p.id, p.parent_id, p.permission_name, p.permission_key
        FROM sys_permission p
        INNER JOIN permission_children pc ON p.parent_id = pc.id
        WHERE p.is_deleted = 0
        )
        UPDATE sys_permission
        SET is_deleted = 1,
        update_time = CURRENT_TIMESTAMP
        WHERE id IN (SELECT id FROM permission_children)
    </update>

</mapper> 