<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayz.sapientiacloud_edupivot.system.mapper.SysRoleMapper">

    <resultMap id="SysRole" type="com.dayz.sapientiacloud_edupivot.system.entity.po.SysRole">
        <id column="id" property="id"/>
    </resultMap>

    <select id="listSysRole" resultType="com.dayz.sapientiacloud_edupivot.system.entity.vo.SysRoleVO">
        select
        id, role_name, role_key, sort, status, description, create_time, update_time
        from
        sys_role
        <where>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%', #{roleName}, '%')
            </if>
            <if test="roleKey != null and roleKey != ''">
                and role_key like concat('%', #{roleKey}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="startTime != null or endTime != null">
                <choose>
                    <when test="startTime != null and endTime == null">
                        AND create_time &gt;= #{startTime}
                    </when>
                    <when test="startTime == null and endTime != null">
                        AND create_time &lt;= #{endTime}
                    </when>
                    <otherwise>
                        AND create_time BETWEEN #{startTime} AND #{endTime}
                    </otherwise>
                </choose>
            </if>
            and is_deleted = 0
        </where>
        <if test="orderByColumn != null and orderByColumn != ''">
            order by ${orderByColumn} ${isAsc == 'asc' ? 'asc' : 'desc'}
        </if>
        <if test="orderByColumn == null or orderByColumn == ''">
            order by create_time desc
        </if>
    </select>

</mapper> 