<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayz.sapientiacloud_edupivot.system.mapper.SysRoleMapper">

    <resultMap id="SysRole" type="com.dayz.sapientiacloud_edupivot.system.entity.po.SysRole">
        <id column="id" property="id"/>
    </resultMap>

    <select id="listSysRole" resultType="com.dayz.sapientiacloud_edupivot.system.entity.vo.SysRoleVO">
        select
        id, role_name, role_key, sort, status, description, create_time, update_time
        from
        sys_role
        <where>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%', #{roleName}, '%')
            </if>
            <if test="roleKey != null and roleKey != ''">
                and role_key like concat('%', #{roleKey}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="startTime != null or endTime != null">
                <choose>
                    <when test="startTime != null and endTime == null">
                        AND create_time &gt;= #{startTime}
                    </when>
                    <when test="startTime == null and endTime != null">
                        AND create_time &lt;= #{endTime}
                    </when>
                    <otherwise>
                        AND create_time BETWEEN #{startTime} AND #{endTime}
                    </otherwise>
                </choose>
            </if>
        </where>
        order by sort asc
    </select>
    
    <select id="getRolePermissions" resultType="com.dayz.sapientiacloud_edupivot.system.entity.vo.SysPermissionVO">
        select 
            p.id, p.permission_name, p.permission_key, p.parent_id, 
            p.status, p.sort, p.create_time, p.update_time
        from 
            sys_permission p
        join 
            sys_role_permission rp on p.id = rp.permission_id
        where 
            rp.role_id = #{roleId}
        order by 
            p.sort asc
    </select>

</mapper> 