<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayz.sapientiacloud_edupivot.system.mapper.SysRolePermissionMapper">

    <insert id="addRolePermissions">
        insert into sys_role_permission (role_id, permission_id) values
        <foreach item="permissionId" collection="permissionIds" separator=",">
            (#{roleId}, #{permissionId})
        </foreach>
    </insert>

    <delete id="removeRolePermissions">
        delete from sys_role_permission where role_id = #{roleId} and permission_id in
        <foreach item="permissionId" collection="permissionIds" separator=",">
            #{permissionId}
        </foreach>
    </delete>

</mapper>